@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400&family=Quicksand:wght@400;500&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

#session-prev, #break-prev {
    transform-origin: 50% 100%;
    transform: rotateX(-30deg);
}

#session-next, #break-next {
    transform-origin: 50% 0%;
    transform: rotateX(30deg);
}

.line {
    transform-origin: 0% 100%;
}